* {
    margin: 0;
    padding: 0;
    }

.input {
  background-color: bisque;
  border: 1px solid rgb(16, 8, 73);
  border-radius: 4px;
  width: 200px;
  height: 30px;
}

.error {
  color: red;
  width: 200px;
}

.hide {
  color: transparent;
}