.find {
  background-color: rgb(86, 77, 244);
  border: 1px solid rgb(16, 8, 73);
  border-radius: 4px;
  width: 200px;
  height: 35px;
  margin-bottom: 10px;
  &:hover {
    cursor: pointer;
    filter: brightness(1.5);
  }
}

