.login, .save {
  background-color: rgb(86, 77, 244);
  border: 1px solid rgb(16, 8, 73);
  border-radius: 4px;
  width: 200px;
  height: 35px;
  &:hover {
    cursor: pointer;
    filter: brightness(1.5);
  }
}

.enter {
  background-color: rgb(122, 118, 185);
  border: 1px solid rgb(16, 8, 73);
  border-radius: 4px;
  width: 200px;
  height: 35px;
  &:hover {
    cursor: pointer;
    filter: brightness(1.5);
  }
}

.delete, .update {
  background-color: rgb(52, 196, 199);
  border: 1px solid rgb(16, 8, 73);
  border-radius: 4px;
  &:hover {
    cursor: pointer;
    filter: brightness(1.5);
  }
}
